<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <link rel="stylesheet"
     href="/static/dropzone.css"/>

    <link rel="stylesheet"
     href="/static/basic.css"/>

    <script type="application/javascript"
     src="static/dropzone.js">
    </script>

    {% block head %}
    {% endblock %}

    <title>pydrop - {% block title %}{% endblock %}</title>
</head>
<body>


<div id="content">
    {% block content %}
    {% endblock %}
</div>


</body>
</html>
